@charset "UTF-8";
body{
	background:url("/hotelReservation/image/login_pic.jpg");
}

#container{
	background-color:rgba(255,255,255,0.6);/* 半透明背景 */
	border-radius: 20px;
	margin:0 auto;
	padding-top:2%;
	margin-top:5%;
	overflow:hidden;
	margin-left:10%;
	margin-right:10%;
}

#bread{
	color:black;
	margin-left:11%;
	position: relative;
    top: 60px;
}

#bookmsg{
	margin-left:20%;
	margin-bottom:3%;
}