@charset "UTF-8";

body{
	margin:0;
}

#register_head{
	background-color:rgba(183,226,255,0.6);
	height: 10%;
	margin-left: 10%;
	margin-right: 10%;
	margin-top:1%;
}

#logo{
	width:60px;
}

/*标题*/
h2{
	margin-top:-4%;
	margin-left:6%;
}

/*返回链接*/
#back{
	margin-left: 90%;
    margin-top: -6%;
}